@charset "UTF-8";

html {
    font-size: 100%;
    background-color: #fff;
}
body {
    font-family: "Zen Maru Gothic";
}

img {
    max-width: 100%;
    object-fit: cover;
    transition: opacity 0.5s ease;
}


a,
p,
h1 {
    text-decoration: none;
    text-align: center;
}




/*ヘッダー*/
.header {
    font-size: 3rem;
}
.header-box {
    font-size: 3.5rem;
    padding-bottom: .5rem;
    background-color: #777777;
}
.Erulog {
    font-weight: bolder;
    color: black;
}

/*
SLIDE MENU
================================================ */
/* ----- ↓↓ 追加 ↓↓ ----- */
/* 開閉ボタン */
.btn-menu {
    position: fixed;
    right: 1rem;
    top: 1rem;
    z-index: 4;
    padding: .5rem 1rem;
    border: 1px solid var(--brown);
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    transition: .4s;
}
.btn-menu svg {
    fill: var(--brown);
    margin-top: .25rem;
    height: 2rem;
    width: 2rem;
}

/* 閉じるボタン */
#menu-close {
    border: 1px solid var(--light-green);
}
#menu-close svg {
    fill: var(--light-green);
}

/* スライドメニューパネル */
#menu-panel {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 4;
    padding: 8rem 2rem 2rem;
    width: max(32vw, 20rem);
    height: 100vh;
    background-color: #333333;
    translate: 100vw;
}
.menu-list {
    list-style: none;
}
.menu-list li {
    margin: 1.5rem 0;
    opacity: 0;
    background-color: #d5d2d2;
}
.menu-list a {
    text-decoration: none;
    font-size: 2rem;
    color: black;
    display: block;
    margin: 2px;
    padding: 8px;
    transition: .5s;
}

/*ヘッダー画像*/
.test1 {
    margin-top: .5rem;
}




/*メニュー*/
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
}
.menu {
    display: inline-block;
    font-size: .9rem;
    background-color: #d5d2d2;
    color: black;
    font-weight: lighter;
    margin: 2px;
    padding: 8px;
    transition: .5s;
}
.menu:hover {
    scale: 1;
}


/*メイン記事*/
.content {
    margin-top: 0.5rem;
}
.content-display {
    display: flex;
}

.center {
    text-align: center;
}
.mainbox img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.headline {
    margin-bottom: .5rem;
}
.post-card {
    display: grid;
    gap: .5rem;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    max-width: 1120px;
    margin: auto;
    padding: .5rem;
    margin-bottom: .5rem;
}
.item {
    background-color: #d5d2d2;
}
.item p {
    color: black;
    padding: .5rem;
    font-weight: lighter;
}

.unit-base {
    padding-bottom: .5rem;
}
.weight {
    margin-right: .5rem;
    margin-left: .5rem;
}
.main-content {
    margin-bottom: 3rem;
}

.mokuzi {
    display: block;
    color: black;
    background-color: #d5d2d2;
    margin: 2px;
    padding: 8px;
    transition: .5s;
}
.mokuzi p {
    text-align: left;   
}

.t-content {
    text-align: center;
    margin-top: 1rem;
}
h3 {
    margin-left: 1rem;
    margin-top: .5rem;
}

.group {
    margin-top: 2rem;
}
.group p {
    text-align: left;
    margin-left: 1rem;
    margin-right: 1rem;
}

.caption {
    text-align: center;
    font-size: smaller;
}
.caption p {
    margin-top: -.4rem;
}

/*フッター*/
.fotter-profile {
    background-color: #fff;
    width: auto;
}
.profile-icon {
    background-color: #fff;
}
.profile-icon img {
    border-radius: 80px;
    height: auto;
    border: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.profile-content {
    background-color: #fff;
}
.content-h1 {
    font-size: 2rem;
}


.div {
    background-color: #777777;    
    padding: 0.5rem;
}
.fotter-title {
    font-size: 1.5rem;
}

/*デスクトップ版*/