@charset "UTF-8";

html {
    font-size: 100%;
    background-color: #fff;
}
body {
    font-family: "Zen Maru Gothic";
}

img {
    max-width: 100%;
    object-fit: cover;
    transition: opacity 0.5s ease;
}

a,
p,
h1,
h2,
h3 {
    text-decoration: none;
    text-align: center;
}

/*ヘッダー*/
.header {
    font-size: 3rem;
}
.header-box {
    font-size: 3.5rem;
    padding-bottom: .5rem;
    background-color: #777777;
}
.Erulog {
    font-weight: bolder;
    color: black;
}

/*ヘッダー画像*/
.flexible-images {
    margin-top: .5rem;
    text-align: center;
}

/*メニュー*/
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
}
.menu {
    display: inline-block;
    font-size: .9rem;
    background-color: #d5d2d2;
    color: black;
    font-weight: lighter;
    margin: 2px;
    padding: 8px;
    transition: .5s;
}
.menu:hover {
    scale: 1;
}


/*メイン記事*/
.content {
    margin-top: 0.5rem;
    text-align: center;
}
.article-group {
    margin-top: 2rem;
}
.article-group p {
    text-align: left;
    margin-left: 1rem;
    margin-right: 1rem;
}
.article-display {
    display: flex;
    justify-content: center;
}

.mainbox img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.post-card {
    display: grid;
    gap: .5rem;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    max-width: 1120px;
    margin: auto;
    padding: .5rem;
    margin-bottom: .5rem;
}
.item {
    background-color: #d5d2d2;
}
.item p {
    color: black;
    padding: .5rem;
    font-weight: lighter;
}
.main-content {
    margin-bottom: 3rem;
}
.unit-base {
    padding-bottom: .5rem;
}


.mokuzi {
    display: block;
    color: black;
    background-color: #d5d2d2;
    margin: 2px;
    padding: 8px;
    transition: .5s;
}
.mokuzi p {
    text-align: left;   
}
li {
    list-style-type: none;
}

.t-content {
    text-align: center;
    margin-top: 1rem;
}
h3 {
    margin-left: 1rem;
    margin-top: .5rem;
}
.caption {
    text-align: center;
    font-size: smaller;
}
.caption p {
    margin-top: -.4rem;
}

/*フッター*/
    .footer-size {
    padding-top: 2%;
    padding-right: 20%;
    padding-left: 20%;
    }
.footer-profile {
    background-color: #fff;
    width: auto;
    padding: 1rem;
}
.profile-icon {
    background-color: #fff;
}
.profile-icon img {
    border-radius: 80px;
    height: auto;
    border: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.profile-content {
    background-color: #fff;
}

.div {
    background-color: #777777;    
    padding: 0.5rem;
}
.footer-title {
    font-size: 1.5rem;
}

/*デスクトップ版*/
@media (min-width: 800px) {
    /*ヘッダー*/
    .grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    text-align: center;
    }
    /*メイン*/
    .content {
    margin-right: 20%;
    margin-left: 20%;
    text-align: center;
    }
    .post-card {
    display: grid;
    gap: .5rem;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    max-width: 1120px;
    margin: auto;
    padding: .5rem;
    margin-bottom: .5rem;
    }
    /*フッター*/
    .footer-size {
    padding-top: 3%;
    padding-right: 30%;
    padding-left: 30%;
    }
}